page-chat {
    .toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;text-align: left; text-transform: uppercase;} 
    .back-button{color:#02a499;}
    .header-title{
        margin-right: 40px;
    }
.toolbar-title{
    color:#02a499;
    font-size: 15px !important; 
     font-weight: bold; 
 text-transform: uppercase;
 width:100%;
 text-align:center;
}
.back-button{color:#02a499;}
ion-navbar{
    .back-button{
        display:none !important;
    }
    .toolbar-content{
        ion-icon{
            width: 44px;
            display: inline-block;
            height: 32px;
            float: left;
            line-height: 32px;
            text-align: center;
            color: #02a499;
        }
        ion-title{
            line-height: 32px;
        }
    }
}

/*chat*/

.pd{padding: 8px;
float: left;
width: 100%;
}


sup {
    background: #1ac975;
    border-radius: 50px;
    float: left;
    height: 6px;
    margin-right: 4px;
    top: 4px;
    width: 6px;
}


.left > .chat-users  {
    background: #10d4c6;
    border: 1px solid #10d4c6;
    border-radius: 5px;
    display: inline-block;
    float: left;
    max-width: 80%;
    padding: 10px 60px 10px 10px;
}
.right > .chat-users {
    background: #ffefba;
    padding: 10px 60px 10px 10px;
    float: right;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ffefba;
    max-width: 90%;
}

.boxchat {
    width: 100%;
    float: left;
    margin: 5px 0;
}


.chat-users p {
    margin: 0 0 7px 0;
    width: 100%;
    color: #4a4a4a;
    font-size: 12px;
}

.time {
    position: absolute;
    right: 4px;
    bottom: 2px;
    font-size: 8px;
    color:rgba(155,155,155,0.6);
}


.input_send input {
    margin: 0;
    background: #fff;
    height: 35px;
    padding: 5px;
    font-size: 12px;
}


.icon_send {
    background: #02a499;
    border: 1px solid #02a499;
    border-radius: 50%;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 22px;
    padding: 0 2px 0 4px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 7px;
    width: 22px;
}

.input_send {
    position: relative;
    padding-right: 32px;
}

.icon_send .icon {
    font-size: 14px;
}

.chat-users, .fileUpload {
    position: relative;
}

.fileUpload input.upload {
    bottom: 0;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: -36px;
    width: 26px;
    filter: alpha(opacity=0);
}


.fileUpload span {
    position: absolute;
    right: 5px;
    top: -29px;
}

.fileUpload span .icon {
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 2px;
}

.footer_bg{bottom: 58px;border-top: 1px solid #ccc;}

 .toolbar-content > button{
    background: none;
    float: left;
}
.pd:first-child .right {
    margin-top: 18px;
}
}
