page-profile {


.toolbar-background {
   background: #00857c;

}
label{color:#fff;}
.toolbar-title{color:#fff;font-size: 16px; margin-left: 0px;}
.back-button{color:#fff;}
.profilebx{
	 background: #00857c;
	 width: 100%;
	 float: left;
	 background: #00857c;
    width: 100%;
    float: left;
    padding: 7px 0;
    text-align: center;
    color: #fff;
   h1{font-size: 15px;
    font-weight: normal;
    margin: 5px 0px;}
    p{font-size: 12px;
    font-weight: normal;
    margin: 0;}
    }

    .profilepic{

    width: 22%;
  margin: 10px auto 0;
    
   

}
.item-inner{border-bottom: none !important;
ion-label{font-weight: normal; color: #8d8d8d;}

 }
 
 ul.rating li ion-icon {
    font-size: 23px;
    margin-top: 10px;
}

.prfllist .item-block{
min-height:0 !important;
}

.prfllist .item{
font-size: 14px;
}

.prfllist .label{
margin: 13px 8px 0px 0;
}

}
